<!DOCTYPE html>
<html lang="en">
<head>
  <title>ADS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="row">
<div class="barcode col-sm-3">
    <div class="title row-md-4">
        <h1><b>Flowers</b></h1>
    </div>
    <div class="qrcode row-md-8">
            <h4 style="color:black">To add a new item to bid or to sell scan this QR Code:</h4>
            <qrcode [qrdata]="'http://10.144.65.12:4200/add_seller/'" [size]="200" [level]="'M'"></qrcode>
            <b style="color:black">----</b>
            <br>
            <h4 style="color:black">To add a new ADS to our screen scan this QR Code:</h4>
            <qrcode [qrdata]="'http://10.144.65.12:4200/add_ads/'" [size]="200" [level]="'M'"></qrcode>
    </div>
        
</div>

<div id="demo" class="carousel slide col-sm-9" data-ride="carousel" >
    <div class="row-md-10" *ngIf="!isValid;else other_content">

    <slideshow #slideshow [imageUrls]="imageUrls" [height]="height" [minHeight]="minHeight" [arrowSize]="arrowSize"
        [showArrows]="showArrows" [disableSwiping]="disableSwiping" [autoPlay]="autoPlay" [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
        [debug]="debug" [backgroundSize]="backgroundSize" [backgroundPosition]="backgroundPosition" [backgroundRepeat]="backgroundRepeat"
        [showDots]="showDots" [dotColor]="dotColor" [showCaptions]="showCaptions" [captionColor]="captionColor"
        [captionBackground]="captionBackground" [lazyLoad]="lazyLoad" [hideOnNoSlides]="hideOnNoSlides">
    </slideshow>

    <div class="row-md-2">
        <h2>Our Advertisements:</h2>
            <table class="table">
                    <thead>
                        <th>#</th>
                        <th>Name</th>
                        <th>Descriptions </th>
                    </thead>
                    <tbody *ngFor="let a of advertisements;let i = index;">
                        <th>{{i+1}}</th>
                        <th>{{a.name}}</th>
                        <th>{{a.description}}</th>
                        
                    </tbody>
            </table>
    </div>
</div>
<div class="bid row-md-10">
<ng-template #other_content >
        <app-bid-item></app-bid-item>
      </ng-template>
</div>
</div>
</div>  

</body>
</html>
​
