<!-- <table class="table">

    <thead>
        <th>#</th>
        <th>Name</th>
        <th>Url </th>
        <th>descriptions</th>
    </thead>
    <tbody *ngFor="let a of advertisements;let i = index;">
        <th>{{i+1}}</th>
        <th>{{a.name}}</th>
        <th>{{a.description}}</th>
        <th><img src="{{a.link}}" /> </th>
    </tbody>
</table> -->

<slideshow #slideshow [imageUrls]="imageUrls" [height]="height" [minHeight]="minHeight" [arrowSize]="arrowSize"
    [showArrows]="showArrows" [disableSwiping]="disableSwiping" [autoPlay]="autoPlay" [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
    [debug]="debug" [backgroundSize]="backgroundSize" [backgroundPosition]="backgroundPosition" [backgroundRepeat]="backgroundRepeat"
    [showDots]="showDots" [dotColor]="dotColor" [showCaptions]="showCaptions" [captionColor]="captionColor"
    [captionBackground]="captionBackground" [lazyLoad]="lazyLoad" [hideOnNoSlides]="hideOnNoSlides">
</slideshow>