<form class="form-horizontal" [formGroup]="sellerForm" (ngSubmit)="onSubmit()">
        <h1>New Seller Form</h1>
            <div class="form-group">
              <label class="control-label col-sm-2" for="name"><b>Name:</b></label>
              <div class="col-sm-12">
                <input type="name" class="form-control col-sm-8" id="name" placeholder="Enter you full name" formControlName="name">
              </div>
            </div>
        
            <div class="form-group">
              <label class="control-label col-sm-2" for="email"><b>Email:</b></label>
              <div class="col-sm-12"> 
                <input type="email" class="form-control col-sm-8" id="email" placeholder="Enter email" formControlName="email">
              </div>
            </div>
        
            <div class="form-group">
                <label class="control-label col-sm-2" for="phone"><b>Phone Number:</b></label>
                <div class="col-sm-12"> 
                  <input type="text" class="form-control col-sm-8" id="phone" placeholder="Enter phone number" formControlName="phone_number">
                </div>
            </div>
        
            <div class="form-group"> 
              <div class="col-sm-offset-2 col-sm-12">
                <button type="submit" [disabled]="!sellerForm.valid">Submit</button>
              </div>
            </div>
          </form>