<form class="form-horizontal" [formGroup]="itemBidForm" (ngSubmit)="onSubmit()">
    <h1>New Item to Bid/buy Form</h1>
    <div class="form-group">
        <label class="control-label col-sm-2" for="name"><b>Item Name:</b></label>
        <div class="col-sm-12">
            <input type="name" class="form-control col-sm-8" id="name" placeholder="Enter you full name"
                formControlName="name">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="number"><b>Price:</b></label>
        <div class="col-sm-12">
            <input type="number" class="form-control col-sm-8" id="number" formControlName="start_price">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2"><b>End time:</b></label>
        <div class="col-sm-12">
            <select type="time" class="form-control col-sm-8" placeholder="Select when will it end" formControlName="time_end">
                <option value="1000"> 1 minutes</option>
                <option value="1500"> 15 minutes</option>
                <option value="30000"> 30 minutes</option>
                <option value="60000"> 60 minutes</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="phone"><b>fix price:</b></label>
        <div class="col-sm-12">
            <select type="" class="form-control col-sm-8" placeholder="Enter phone number" formControlName="fixed_price">
                <option value="1">Fixed-price</option>
                <option value="0">Bid</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="number"><b>Image Url:</b></label>
        <div class="col-sm-12">
            <input type="file" class="image col-sm-8" id="avatar" (change)="onFileChange($event)" #fileInput>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-12">
            <button type="submit" [disabled]="!itemBidForm.valid">Submit</button>
        </div>
    </div>
</form>