<!-- <table class="table">

    <thead>
        <th>#</th>
        <th>image</th>
        <th>price </th>
    </thead>
    <tbody *ngFor="let a of bidItem;let i = index;">
        <td> <img src="{{bidItem[0].image}}" width="500px" height="500px" /></td>
        <td>{{bidItem[0].start_price}}</td>
    </tbody>
</table> -->
<div class="row">


    <div class="col-md-8">
        <tbody>
            <div class="row-md-2">
                <h2 style="text-align: center">Bid</h2>
                <br>
            </div>

            <div class="row-md-8">
                <td> <img src="{{bidItem[0].image}}" height="600px" width="100%" /></td>
                <br>
            </div>

            <div class="row-md-2">

            </div>
        </tbody>
    </div>

    <div class="det col-md-4">
        <tbody>
            <h3>The seller:</h3>
            {{ seller.name }}
            <br>----
            <br>
            <div *ngIf="isValid;else other_content">
                <h3>Begining Price is:</h3>
                {{bidItem[0].start_price}}
                <br>----
                <br>
                <h3>Current price is:</h3>
                {{bidItem[0].current_price}}
                <br>----
                <br>
            </div>
            <ng-template #other_content>
                <h3>The Price is:</h3>
                {{bidItem[0].start_price}}
                <br>----
                <br>
            </ng-template>
            <div>
                <h3>TO buy the item scan the QR code:</h3>
            </div>

        </tbody>
    </div>
</div>