body {
    background-color: #0336FF;
}

.det {
    color: rgb(0, 0, 0);
    padding: 5% ;
} 

.photo {
    padding-top: 0%;
    padding-left: 0%;
    position: relative;
    overflow-y: auto;
}
h3 {
    padding-top: 3%;
}